<!DOCTYPE html>
<html lang="zh-CN">

<head>
  <meta http-equiv="content-type" content="text/html; charset=UTF-8">
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width">

  <title>十字今日</title>
  <meta name="description" content="">
  <meta name="keywords" content="">
  <link rel="stylesheet" href="./style.css">
  <link rel="stylesheet" href="./items.css">
</head>

<body>
  <script src="./jquery.js"></script>
  <a href="./auth/github">Github Login</a>
  <div class="container">

    <h1>
      <span class="title-number" id="year">{{dateInfo.year}}</span>年
      <span class="title-number" id="month">{{dateInfo.month}}</span>月
      <span class="title-number" id="day">{{dateInfo.day}}</span>日
      <span class="week">星期{{dateInfo.week}}</span>
      <span class="lc">
        <span class="lc-year" id="lc-year">{{dateInfo.lc_year}}年</span>
        <span class="lc-date" id="lc-date">{{dateInfo.lc_date}}</span>
      </span>
    </h1>

    <hr>
    <div class="inner-container" id="inner-container" style="height: 830.933px;">
      {{#each contentList}}
      {{#if this.data.type_festival}}
      <div class="today-item festival" style="display: block;">
        <h1>今天是 <span class="festival-name">{{this.data.data.festival_name}}</span></h1>
        <hr>
        <p>{{this.data.data.description}}</p>
      </div>
      {{/if}}
      {{#if this.data.type_rare_word}}
      <div class="today-item rare-word" style="display: block;">
        <h1>每日生僻字</h1>
        <div class="rw-inner">
          <div class="rw">
            <p class="pinyin">{{this.data.data.pinyin}}</p>
            <h2>{{this.data.data.word}}</h2>
          </div>
          <ul>
            {{#each this.data.data.description}}
            <p class="rw-def">{{this}}</p>
            {{/each}}
            {{#each this.data.data.descriptionDetails}}
            <li>{{this}}</li>
            {{/each}}
          </ul>
        </div>
      </div>
      {{/if}}
      {{#if this.data.type_word}}
      <div class="today-item word" style="display: block;">
        <h1>每日单词</h1>
        <h2>
          <span>{{this.data.data.word}}</span>
          <span class="word-ps">[{{this.data.data.word_ps}}]</span>
        </h2>
        <ul>
          {{#each this.data.data.meannings}}
            <li><span class="word-prop">this.type</span>this.meanning</li>
          {{/each}}
        </ul>
      </div>
      {{/if}}
      {{#if this.data.type_poem}}
      <div class="today-item poem" style="display: block;">
        <h1>每日诗词</h1>
        <h2>{{this.data.data.content}}</h2>
        <p class="poem-author">
          <span>— {{this.data.data.author}}</span>
          <span class="source en">{{this.data.data.source}}</span>
        </p>
      </div>
      {{/if}}
      {{/each}}
    </div>
  </div>
  <script>
    $('#inner-container').css('height', $('#inner-container').height() + 'px');
    $('.today-item').css('display', 'block');
  </script>


</body>
<div id="edge-translate-notifier-container" class="edge-translate-notifier-center"></div>

</html>